/*html, body {
	height: 100%;
	width: 100%;
}*/



section {
  width: 500px;
  height: 325px;
  top: 50px;
  right: 50px;
  bottom: 0;
  background-color: rgba(240,255,255, 0.9);
  border-radius: 7px;
  border: 2px solid white;
}

section > div {
  font-family: sans-serif;
  font-size: 17px;
  margin: 15px;
  width: 270px;
  height: 270px;
  background-color: none;
  text-align: justify;
}

.addborder {

	/*border-style: solid;
	border-width: 2.5px;
	border-color: none;*/
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  padding-bottom: 20px;

  background-color: darkseagreen;
  border-top: 2px solid seagreen;
  border-bottom: 2px solid seagreen;
  width: 98%;
}


html, body {
	
  /*background-color: honeydew;*/
}

html {
  background-color: none;
  overflow: hidden;
  background-color: seagreen
}

body {
  margin: 20px;
  background-color: none;
  overflow: auto;
  height: 735px;
  background-color: honeydew;
}


/* MAP STUFF*/
#map {
	height: 100%;
	width: 60%;
	border-radius: 7px;
}

.info_header {
	color: green;
	font-family: sans-serif;
	font-size: 20px;
}

.info_paragraph {
	color: black;
	font-family: sans-serif;
	font-size: 14px;
}

/* NAV STUFF */
.button {
  margin-right: 10px;
  margin-right: 10px;
	transition-duration: 0.4s;
  	display: inline-block;
  	padding: 10px;
  	font-size: 22px;
  	font-family: sans-serif;
  	font-weight: bold;
	font-variant: small-caps;
  	cursor: pointer;
  	text-align: center;
  	color: #fff;
  	border: none;
  	border-radius: 7px;
  	background-color: seagreen;
  	box-shadow: 0 9px darkgreen;
}
button:focus {
    outline: none !important;
}

.button:hover { transition-duration: 0.4s; }
.button:active { 
	box-shadow: 0 5px black;
	transform: translateY(4px); 
}

/* DESCRIPTION STUFF */
.description { 
	background-color: none 
}
.description p{
	padding: 8px;
	font-family: sans-serif;
	font-size: 18px;
	text-align: justify;
	background-clip: padding-box; /*Add color to padding*/
	color: #009191;
}


.list-container { 
	display: grid;
	background-color: darkseagreen; 
	grid-template-columns: 30% 40% 30%;

	
}
.list-container > div {
	/*margin: 6px;*/
  background-color: white;
  /*border: 2px solid seagreen;*/
  
  
}

.list-container > div > div {
	width: 100%;
	display: flex;
	align-items: center;
}

.list-container > div > main {
  background-color: seagreen;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;

}

.list-container > div > div > p{ 
  color: #009191;
}

.list-container span {
	padding-left: 8px;
	padding-right: 8px;
	font-family: sans-serif;
	text-align: center;
	color: #009191;
}

.image {

	height: 100px;
	width: auto;
	display:block;
    margin: auto;
    padding: 10px;
}
#no2 { 
	background-color: none; 
}
/*#no2 p { color: #c74040; }*/

#ozone { 
	background-color: none; 
}
/*#ozone p {
	color: green;
}*/
#pm10 { 
	background-color: none; 
}
/*#pm10 p { color: #5c70c2; }*/

.mini-description {
	display: flex;
	justify-content: center;
}
.mini-description p{
	padding-left: 8px;
	padding-right: 8px;
	font-family: sans-serif;
  font-size: 17px;
	text-align: justify;
	background-clip: padding-box; /*Add color to padding*/
}

/*NEXT STEPS: functionality*/

.disabled {
    pointer-events: none;
    opacity: 0;
}
.disabled * {
	position: absolute;
}


.enabled {
    pointer-events: auto;
    opacity: 1;
}
.enabled * {
    position: relative;
}


/*////////////////////////*/
#range-wrapper {
	background-color: seagreen;
  width: 860px;
  height: 35px;
	border-radius: 7px;
	margin: 10px;
	/*padding: 20px;*/
	padding-left: 35px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.range {
  position: relative;
  width: 812px;
  height: 5px;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px; /*slider appearance*/
  height: 18px;
  margin: -8px 0 0;
  border-radius: 0%;
  background: yellow;
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 0%;
  background: #009191;
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 0%;
  background: #009191;
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: white;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: white;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: white;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-labels {
  margin: 17px -41px 0;
  padding: 0;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  width: 90.25px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  color: white; /* labels grey */
  font-size: 14px;
  cursor: pointer;
}
.range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 3px; /*small points*/
  height: 15px;
  background: white; /*points before arriving*/
  border-radius: 0%;
}
.range-labels .active {
  color: yellow;
}
.range-labels .selected::before {
  background: #b2b2b2;
}
.range-labels .active.selected::before {
  display: none;
}

.opendata {
  border-radius: 2px solid black;
  background-color: none;
  width: 100px;
  height: 40px;
  background-image: url("../img/open-data.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bcn {
  border-radius: 2px solid black;
  background-color: none;
  width: 100px;
  height: 40px;
  background-image: url("../img/bcn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
 
.logo-container {
  width: 100%;
  color: #009191;
  background-color: none;
}
.logo-container > div {
  width: 100%;
  background-color: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.logo-container > div > div {
  display: flex;
  justify-content: center;
  align-items: center;

}

.info {
  background-color: none;
  width: 100%;
  height: 100%;
  color: #009191;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: none;

  height: 350px;
}

.wrapper > section{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  
}

.wrapper > section > div > div {
  width: 100%;
  background-color: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: auto;
}

h1 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  color: darkgreen;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  margin: 0;
}
h4 {
  margin: 0;
}
#myname {
  text-align: left;
  margin: 0;
  color: darkgreen;
}

.wrapper > section > div {
  background-color: none;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 100px;
}

nav {
  background-color: none;
  margin-top: 0;
  margin-bottom: 0;
}


#stats {
  background-color: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#iframe-holder {
  /*border: 5px solid turquoise;
  border-radius: 15px;*/
  width: 100%;
}

#stats2 {
  background-color: none;
}

























